/*
Svg Projects
Author: Jonathan Trancozo
Language: HTML, CSS3 and SVG
Project_version: V1
Project_description: 
[pt-br]
Por anos eu vi essa imagem e pensava “Isso ficaria bem massa animado” e hoje consegui expressar um pouco da minha imaginação.
O desenho foi produzido no Adobe Illustrator e exportado em SVG. As animações foram feitas com CSS3 usando principalmente [transform].

Até uma próxima.
      

[en]
For years I saw this picture and thought "That would be amazing animated " and today I managed to express some of my imagination.
The design was produced in Adobe Illustrator and export in SVG . The animations were made with CSS3 using mainly [ transform ].

See you.

*/

#deadline {
    width:800px;
    max-width: 100%;
}

#deadline svg {
    width: 100%;
}

#progress-time-fill {
    animation-name: progress-fill; 
    animation-timing-function: linear; 
}

#death-group {
    animation-name: walk;
    animation-timing-function: linear; 
}

#death-arm {
    animation: move-arm 3s ease infinite;
    /* transform-origin: left center; */
    transform-origin: -60px 74px;
}

#death-tool {
    animation: move-tool 3s ease infinite;
    transform-origin: -48px center;
}

.timer {
    font-family: "Roboto Mono", monospace;
    font-style: italic;
    font-size: 4rem;
    font-weight: bold;
    color: #fff;
    text-align: center;
    margin: 0 auto;
    position: relative;
    margin-bottom: 2rem;
}

.timer .inner {
    width: 100px;
    position: relative;
    top: 0;
    left: 0;
}

@keyframes progress-fill {
    100% {
        x: 0;
    }
}

@keyframes walk {
    100% {
        transform: translateX(520px);
    }
}

@keyframes move-arm {
    0% {
        transform: rotate(0);
    }

    5% {
        transform: rotate(0);
    }

    9% {
        transform: rotate(40deg);
    }

    80% {
        transform: rotate(0);
    }
}

@keyframes move-tool {
    0% {
        transform: rotate(0);
    }

    5% {
        transform: rotate(0);
    }

    9% {
        transform: rotate(50deg);
    }

    80% {
        transform: rotate(0);
    }
}