.movie {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.movie__x {
    height: 10rem;
    transform: perspective(500px) rotateX(30deg); 
    transform-origin: bottom; 
}

.movie__title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) perspective(500px) rotateX(30deg);
    font-family: "Archivo Black", sans-serif;
    text-transform: uppercase; 
}

@keyframes slideEffect {
    0% {
        background-position: 100% 50%;
    }
    50% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}